---
import { Root } from "../../layouts";
import { Section } from "../../components";

import { SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import Fuse from "fuse.js";

const recipes = await getCollection("recipes");
const sortedRecipes = recipes.sort((a, b) =>
  a.data.datePublished < b.data.datePublished ? 1 : -1
);

const fuse = new Fuse(sortedRecipes, {
  keys: ["data.name", "data.description", "data.keywords"],
});

console.log(fuse.search("rice"));
---

<Root title={"Alex Tuppen"} description={SITE_DESCRIPTION}>
  <Section>
    <h1>Recipes</h1>
    <p>
      This is just somewhere for me to remember the recipes I come up with.
      They're not complicated or fancy but they are fast and easy.
    </p>
    <input />
    {sortedRecipes.map(({ data: { name } }) => <p>{name}</p>)}
  </Section>
</Root>
