---
import { Root } from "../../layouts";
import { Section } from "../../components";

import { SITE_DESCRIPTION } from "../../consts";
---

<Root title={"Alex Tuppen"} description={SITE_DESCRIPTION}>
  <Section>
    <h1>Recipes</h1>
    <p>
      This is just somewhere for me to remember the recipes I come up with.
      They're not complicated or fancy but they are fast and easy.
    </p>
  </Section>
</Root>
