---
import { Root } from "../../layouts";
import { BlogRecipeList, Section } from "../../components";

import { SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";

const recipes = await getCollection("recipes");
const sortedRecipes = recipes.sort((a, b) =>
  a.data.datePublished < b.data.datePublished ? 1 : -1
);
const transformedRecipes = sortedRecipes.map(
  ({ id, data: { name, description, image, keywords } }) => {
    const splitKeywords = keywords.split(', ')

    return {
      href: `/recipes/${id}`,
      title: name,
      src: image ? image[0] : undefined,
      alt: name,
      description,
      keywords: splitKeywords
    }
  }
);

  const keywordsWithCount = transformedRecipes.reduce<{ [key: string]: number }>(
    (accumulator, { keywords }) => {
      keywords.forEach((keyword) => {
        accumulator[keyword] = (accumulator[keyword] || 0) + 1;
      });
      return accumulator;
    },
    {}
  );

  const keywordsSortedByCount = Object.keys(keywordsWithCount).sort(
    (a, b) => keywordsWithCount[b] - keywordsWithCount[a]
  );
---

<Root title={"Alex Tuppen"} description={SITE_DESCRIPTION}>
  <Section>
    <h1>Recipes</h1>
    <p>
      This is just somewhere for me to remember the recipes I come up with.
      They're not complicated or fancy but they are fast and easy.
    </p>
    <BlogRecipeList list={transformedRecipes} keywords={keywordsSortedByCount}/>
  </Section>
</Root>
