---
import { Root } from "../../layouts";
import { SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import { BlogRecipeList, Section } from "../../components";

const posts = await getCollection("blog");
const sortedPosts = posts.sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
const transformedPosts = sortedPosts.map(
  ({ slug, data: { heroImage, heroImageText, title, description } }) => ({
    href: `/blog/${slug}`,
    title,
    src: heroImage,
    alt: heroImageText,
    description,
  }),
);
---

<Root title="Alex Tuppen | Blog" description={SITE_DESCRIPTION}>
  <Section>
    <h1>Blog</h1>
    <BlogRecipeList list={transformedPosts} />
  </Section>
</Root>

<style lang="scss">
  @import "src/styles/_globals.scss";
  @import "src/styles/typography.scss";

  section {
    max-width: var(--pageMaxWidth);
    margin: auto;
  }
</style>
