---
const today = new Date();

const { className } = Astro.props;
---

<footer class:list={["root", className]}>
  <img class="logo" src="/logo/white.svg" alt="Alex Tuppen logo" class="logo" />
  <div class="text">
    <p>Copyright © {today.getFullYear()} Alex Tuppen</p>
    <p>Published under the GNU GPL v3 license</p>
  </div>
</footer>

<style>
  @import "src/styles/_globals.scss";
  @import "src/styles/typography.scss";

  .root {
    width: 100%;
    bottom: 0;
    padding: var(--paddingDouble) 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--paddingDouble);
  }

  .logo {
    position: relative;
    --logo-width: 5rem;
    width: var(--logo-width);
    height: calc(var(--logo-width) * 1.5);
  }

  .text {
    display: flex;
    flex-direction: column;
    gap: var(--paddingHalf);
    text-align: center;
  }

  @include bp-small {
    .logo {
      --logo-width: 6.5rem;
    }
  }

  @include bp-large {
    .logo {
      --logo-width: 9rem;
    }
  }
</style>
