// Breakpoints
$bpSmall: 37.5rem;
$bpMedium: 56.25rem;
$bpLarge: 75rem;
$bpXl: 112.5rem;

@mixin bp-small() {
  @media only screen and (min-width: $bpSmall) {
    @content;
  }
}

@mixin bp-medium() {
  @media only screen and (min-width: $bpMedium) {
    @content;
  }
}

@mixin bp-large() {
  @media only screen and (min-width: $bpLarge) {
    @content;
  }
}

@mixin bp-xl() {
  @media only screen and (min-width: $bpXl) {
    @content;
  }
}

// Colour palette
$primaryLight: #fac44d;
$primary: #f9ab01;
$primaryDark: #c78800;
$secondaryLight: #4d83fa;
$secondary: #014ff9;
$secondaryDark: #003fc7;
$text: #ffffff;
$textMediumEmphasis: rgba(255, 255, 255, 0.7);
$baseColour: #120f08;

// Elevations
$elevation1: #1e1e1e;
$elevation2: #232323;
$elevation3: #252525;
$elevation4: #272727;
$elevation5: #2c2c2c;
$elevation6: #2f2f2f;
$elevation7: #333333;
$elevation8: #353535;
$elevation9: #383838;

@mixin elev-1() {
  background-color: $elevation1;
}

@mixin elev-2() {
  background-color: $elevation2;
}

@mixin elev-3() {
  background-color: $elevation3;
}

@mixin elev-4() {
  background-color: $elevation4;
}

@mixin elev-5() {
  background-color: $elevation5;
}

@mixin elev-6() {
  background-color: $elevation6;
}

@mixin elev-7() {
  background-color: $elevation7;
}

@mixin elev-8() {
  background-color: $elevation8;
}

@mixin elev-9() {
  background-color: $elevation9;
}
