@import "src/styles/globals";
@import "src/styles/typography";

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  --borderWidthHalf: calc(var(--borderWidth) / 2);
  --borderWidth: 0.1rem;
  --borderWidthDouble: calc(var(--borderWidth) * 2);
  --borderRadiusHalf: calc(var(--borderRadius) / 2);
  --borderRadius: 0.5rem;
  --borderRadiusDouble: calc(var(--borderRadius) * 2);
  --pageMaxWidth: 100%;
  --contentMaxWidth: 100%;
  --paddingQuarter: calc(var(--padding) / 4);
  --paddingHalf: calc(var(--padding) / 2);
  --padding: 1rem;
  --paddingDouble: calc(var(--padding) * 2);
  --paddingTriple: calc(var(--padding) * 3);
  --fontSize: 1.2rem;
  --fontSizeSmall: 1rem;
}

body {
  background-color: $baseColour;
}

main {
  gap: var(--paddingDouble);
}

@include bp-small {
  html {
    --borderWidth: 0.125rem;
    --borderRadius: 0.75rem;
    --pageMaxWidth: 95%;
    --contentMaxWidth: 45rem;
    --padding: 1.125rem;
  }
}

@include bp-medium {
  html {
    --borderWidth: 0.15rem;
    --borderRadius: 1rem;
    --padding: 1.25rem;
  }
}

@include bp-large {
  html {
    --pageMaxWidth: 70rem;
  }
}
