@import "./globals.scss";

* {
  font-family: "Jost", sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
span,
blockquote,
p,
li,
time {
  margin: unset;
  padding: unset;
  color: $text;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 2.2rem;
}

h2 {
  margin: var(--padding);
  font-size: 1.75rem;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  margin: var(--padding-quarter);
  font-size: 1.1rem;
}

p,
span,
blockquote,
th,
td,
li,
time {
  padding: var(--padding-quarter);
  font-size: var(--font-size);
}

a:link {
  color: $primary-light;
}

a:visited {
  color: $secondary-light;
}

@include bp-small {
  h1 {
    font-size: 2.6rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  h5 {
    font-size: 1.2rem;
  }
}

@include bp-medium {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.25rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1.4rem;
  }
}

@include bp-large {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.75rem;
  }

  h5 {
    font-size: 1.6rem;
  }
}
