---
const { className, ...rest } = Astro.props;
---

<section class:list={["section", className]} {...rest}>
  <slot />
</section>

<style lang="scss">
  .section {
    max-width: var(--pageMaxWidth);
    display: flex;
    flex-direction: column;
    gap: var(--paddingDouble);
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: var(--paddingDouble) auto;
  }
</style>
