---
import ExpEduDetails from "./ExpEduDetails.astro";
import type { CollectionEntry } from "astro:content";

interface Props {
  data: CollectionEntry<"education">["data"];
}

const {
  data: { details },
} = Astro.props;
---

<div class="wrapper">
  <ExpEduDetails details={details} month={false} />
</div>

<style lang="scss">
  @import "../../../styles/globals.scss";

  .wrapper {
    @include elev-1();
    width: 100%;
    padding-bottom: var(--padding);
    text-align: left;
  }

  @include bp-small {
    .wrapper {
      border-radius: var(--borderRadius);
      max-width: calc(var(--contentMaxWidth) + var(--paddingDouble) * 2);
    }
  }
</style>
