---
import type { CollectionEntry } from "astro:content";
import ExpEduDetails from "./ExpEduDetails.astro";
import { Technologies } from "./Technologies";

interface Props {
  data: CollectionEntry<"experiences">["data"];
}

const {
  data: { description, details, technologies },
} = Astro.props;
---

<div class="wrapper">
  <ExpEduDetails details={details} month={true} />
  {
    description && description.length > 0 ? (
      <p class="description">{description.join("")}</p>
    ) : (
      <p class="description">Description coming soon!</p>
    )
  }
  {technologies && <Technologies technologies={technologies} />}
</div>

<style lang="scss">
  @import "../../../styles/globals.scss";

  .wrapper {
    @include elev-1();
    text-align: left;
  }

  .description {
    padding: var(--paddingDouble) var(--paddingHalf);
    white-space: pre-line;
  }

  @include bp-small {
    .wrapper {
      border-radius: var(--borderRadius);
      max-width: calc(var(--contentMaxWidth) + var(--paddingDouble) * 2);
    }

    .description {
      padding: var(--padding) var(--paddingDouble) var(--paddingDouble);
    }
  }
</style>
