---
import { Root } from "../layouts";
import { Education, Experiences, Section } from "../components";
import { SITE_DESCRIPTION } from "../consts";
---

<Root title="Experience" description={SITE_DESCRIPTION}>
  <Section>
    <h1>Experience</h1>
    <Experiences />
  </Section>
  <Section>
    <h2>Education</h2>
    <Education />
  </Section>
</Root>
