---
import Root from "../layouts/Root.astro";
import { Button, ButtonVariants } from "../components/Input";
import { SITE_DESCRIPTION } from "../consts";
---

<Root title="Experience" description={SITE_DESCRIPTION}>
  <Button id="button" className="test" variant={ButtonVariants.Primary}>
    Text
  </Button>
  <p>blah blah blah</p>
</Root>
