---
import { Button } from "../../Input";

interface Props {
  id: string;
}

const { id } = Astro.props;
---

<Button id={id} className="root">
  <div id="menu-burger-first" class="first"></div>
  <div id="menu-burger-middle" class="middle"></div>
  <div id="menu-burger-hidden" class="hidden"></div>
  <div id="menu-burger-last" class="last"></div>
</Button>

<script>
  const button = document.getElementById("menu-burger");
  const buttonElements = [
    document.getElementById("menu-burger-first"),
    document.getElementById("menu-burger-middle"),
    document.getElementById("menu-burger-hidden"),
    document.getElementById("menu-burger-last"),
  ];

  if (button) {
    button.addEventListener("click", () => {
      if (button.dataset.open === "true") {
        buttonElements.map((element) => {
          if (element) {
            element.classList.add("menu-burger-open");
          }
        });
      } else {
        buttonElements.map((element) => {
          if (element) {
            element.classList.remove("menu-burger-open");
          }
        });
      }
    });
  }
</script>

<style lang="scss">
  @import "../../../styles/_globals.scss";

  .root {
    width: var(--burger-width);
    height: 100%;
    padding: 0;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }

  .first,
  .middle,
  .hidden,
  .last {
    position: absolute;
    height: 15%;
    width: 100%;
    border-radius: var(--border-radius);
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }

  .first,
  .last {
    background: $text;
  }

  .middle,
  .hidden {
    background: $primary;
  }

  .first {
    top: 10%;
  }

  .middle,
  .hidden {
    top: 42.5%;
  }

  .last {
    bottom: 10%;
  }

  .menu-burger-open {
    &.first {
      top: 42.5%;
      width: 0%;
      left: 50%;
    }

    &.middle {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    &.hidden {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }

    &.last {
      top: 42.5%;
      width: 0%;
      left: 50%;
    }
  }
</style>
