---
import { getCollection } from "astro:content";
import ExpEduDetails from "./ExpEduDetails.astro";
import { Technologies } from "./Technologies";

const experiences = await getCollection("experiences");
const sortedExperiences = experiences.sort((a, b) =>
  a.data.details.startDate < b.data.details.startDate ? 1 : -1
);
---

{
  sortedExperiences.map(({ data: { details, technologies, description } }) => (
    <div class="wrapper">
      <ExpEduDetails details={details} month={true} />
      {description && description.length > 0 ? (
        <p class="description">{description.join("")}</p>
      ) : (
        <p class="description">Description coming soon!</p>
      )}
      {technologies && <Technologies technologies={technologies} />}
    </div>
  ))
}

<style lang="scss">
  @import "../../styles/globals.scss";

  .wrapper {
    @include elev-1();
    text-align: left;
  }

  .description {
    padding: var(--padding-double) var(--padding-half);
  }

  @include bp-small {
    .wrapper {
      border-radius: var(--border-radius);
      max-width: calc(var(--content-max-width) + var(--padding-double) * 2);
    }

    .description {
      padding: var(--padding) var(--padding-double) var(--padding-double);
    }
  }
</style>
