---
import dayjs from "dayjs";
import duration from "dayjs/plugin/duration";
import relativeTime from "dayjs/plugin/relativeTime";
import { Clock, CookingPot, Knife, KnifeFork } from "../../../svg";

interface Props {
  prepTime: string;
  cookTime: string;
  totalTime: string;
  recipeYield: number;
}

const { prepTime, cookTime, totalTime, recipeYield } = Astro.props;

dayjs.extend(duration);
dayjs.extend(relativeTime);

const prepDuration = dayjs.duration(prepTime).humanize();
const cookDuration = dayjs.duration(cookTime).humanize();
const totalDuration = dayjs.duration(totalTime).humanize();
---

<div class="root">
  <span class="prep-desc">
    <Knife className="icon" />
    <span>Preparation:</span>
  </span>
  <span class="prep-time">{prepDuration}</span>
  <span class="cook-desc">
    <CookingPot className="icon" />
    <span>Cook:</span>
  </span>
  <span class="cook-time">{cookDuration}</span>
  <span class="total-desc">
    <Clock className="icon" />
    <span>Total:</span>
  </span>
  <span class="total-time">{totalDuration}</span>
  <span class="serves-desc">
    <KnifeFork className="icon" />
    <span>Serves:</span>
  </span>
  <span class="serves-amount">{recipeYield}</span>
</div>

<style lang="scss">
  @import "../../../styles/_globals.scss";

  .root {
    margin: auto;
    display: grid;
    align-items: start;
    column-gap: var(--padding);
    grid-template-areas:
      "prep-desc prep-time"
      "cook-desc cook-time"
      "total-desc total-time"
      "serves-desc serves-amount";
    align-items: center;
  }

  .prep-desc,
  .cook-desc,
  .total-desc,
  .serves-desc {
    justify-self: end;
    display: flex;
    align-items: center;
    gap: var(--padding-half);
  }

  .icon {
    font-size: var(--font-size);
    color: $text;
  }

  .prep-desc {
    grid-area: prep-desc;
  }

  .prep-time {
    grid-area: prep-time;
  }

  .cook-desc {
    grid-area: cook-desc;
  }

  .cook-time {
    grid-area: cook-time;
  }

  .total-desc {
    grid-area: total-desc;
  }

  .total-time {
    grid-area: total-time;
  }

  .serves-desc {
    grid-area: serves-desc;
  }

  .serves-amount {
    grid-area: serves-amount;
  }

  @include bp-medium {
    .root {
      grid-template-areas:
        "prep-desc prep-time cook-desc cook-time total-desc total-time"
        ". . serves-desc serves-amount . .";
    }

    .prep-desc,
    .cook-desc,
    .total-desc {
      padding-left: var(--padding);
    }
  }
</style>
