@import "src/styles/_globals.scss";
@import "src/styles/typography.scss";

.wrapper {
  height: 2rem;
  width: 80%;
  display: flex;
  // box-sizing: border-box;
  // padding-top: var(--padding);
  // padding-bottom: var(--padding);
  // padding-right: var(--padding);
  border: var(--borderWidthDouble) solid;
  border-color: $text;
  border-radius: var(--borderRadius);
  background-color: $text;
  transition: border 150ms ease-out;
}

input {
  height: 100%;
  width: 100%;
  border: unset;
  outline: none;
}

.wrapper:has(input:focus) {
  border-color: $primary;
}

input::placeholder {
  color: $textMediumEmphasis;
  opacity: 1;
}

.inputNoIcon {
  padding-left: var(--padding);
}

.inputIcon {
  padding-left: var(--paddingDouble);
  background-position: var(--paddingQuarter);
  background-repeat: no-repeat;
}
