@import "src/styles/_globals.scss";
@import "src/styles/typography.scss";

.search {
  width: var(--contentMaxWidth);
  display: flex;
}

.list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: var(--paddingDouble);
  margin: unset;
  padding: unset;
}
